
* {
    margin: 0;
    padding: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h1 , h3 {
    font-family:Arial, Helvetica, sans-serif;
    padding: 3px;
}

h2 { 
    padding: 10px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#formas_pagamento{
    color:red;
}

.menu {
    /* altera as margens */
    background-color: #ff0000;
    padding: 0px 5px 10px 0px;
    padding: 0% 0% 1% 0%;
    text-align: center;
}

.menu a {
    /* altera o texto */
    color:white;
    text-decoration: none;
    /* padding: 10px 200px 100px 20px; */
    /* padding: 5% 10% 10% 5%; */
    padding: 5% 5% 2% 5%;
    margin: 0px 30px 0px 30px;

}

.saudacao {
    padding: 10px;
}

.preco {
    color: red;
}

#rodape {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.descricao {
    text-align: center;
}

.mainProdutos {
    display: flex;
}

.categorias {
    font-size: 20px;
    background-color: lightcyan;
    width: 20vw;
    height: 100%;     
}

.categorias h3 , .categorias ul li {
    padding: 10px;
}

.produtos {
    height: 100%;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box_produto {
    text-align: center;
    width: 22%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content : flex-end;
    align-items: center;
    margin: 15px;
}

.box_produto hr {
    width: 100%;
}

.enderecos{
    display: inline-block;
     /* background-color: lightcoral;  */
    margin: 50px 20px 0px 100px;
}

/* .contato{
    padding-left: 20px;
    style= width: 400px;
    style= height: 800px;
} */
